<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="browser" value="chrome" ></parameter>
    <test verbose="2" preserve-order="true" name="Full Test" >
        <classes>
            <class name="TestDemo">
                <methods>
                    <include name="selectTest"></include>
                    <include name="loginSuccessfulTest">
                        <parameter name="username" value="tomsmith"></parameter>
                        <parameter name="password" value="SuperSecretPassword!"></parameter>
                    </include>
                    <include name="loginFailedTest">
                        <parameter name="username" value="tomsmith"></parameter>
                        <parameter name="password" value="tralala"></parameter>
                    </include>

                </methods>
            </class>
        </classes>
    </test>

    <parameter name="browser" value="chrome" ></parameter>
    <test verbose="2" preserve-order="true" name="Select Test">
        <classes>
            <class name="TestDemo">
                <methods>
                    <include name="selectTest"></include>
                </methods>

            </class>
        </classes>

    </test>
</suite>